
.fondo1,.fondo2,.fondo3{
    background-image:url("imagenes/fondo1.jpg");
    background-size:cover;  
    height: 100vh;  
    }
    .fondo2{
        background-image: url("imagenes/fondo2.jpg");

    }
    .fondo3{

    background-image: url("imagenes/fondo3.jpg"); 
    }


.tablero div img:hover{
transform:scale(1.2) ;


}

  
    
img{
    border-radius: 8px;
    box-shadow: -2px 0px 6px 2px rgb(204, 243, 194);
    
    }
    



